### Load data

In [1]:
import pandas as pd
import numpy as np
import joblib
import matplotlib.pyplot as plt

In [2]:
import sys
sys.path.insert(1, 'C:/Users/Songy/OneDrive/Documents/GBSFS4MPP_local/new_properties')

import featurize_custom as fc

In [3]:
df = joblib.load('database_dielectric_constant.pkl')
df

,material_id,formula,nsites,space_group,volume,structure,band_gap,e_electronic,e_total,n,...,jml_nn_91,jml_nn_92,jml_nn_93,jml_nn_94,jml_nn_95,jml_nn_96,jml_nn_97,jml_nn_98,jml_nn_99,jml_nn_100
0,mp-441,Rb2Te,3,225,159.501208,"[[1.75725875 1.2425695 3.04366125] Rb, [5.271...",1.88,"[[3.44115795, -3.097e-05, -6.276e-05], [-2.837...","[[6.23414745, -0.00035252, -9.796e-05], [-0.00...",1.86,...,0.000000,0.000000,0.0,16.000000,0.000000,0.000000,16.000000,0.000000,0.000000,0.000000
1,mp-22881,CdCl2,3,166,84.298097,"[[0. 0. 0.] Cd, [ 4.27210959 2.64061969 13.13...",3.52,"[[3.34688382, -0.04498543, -0.22379197], [-0.0...","[[7.97018673, -0.29423886, -1.463590159999999]...",1.78,...,0.000000,4.666667,8.0,0.000000,0.000000,2.000000,0.000000,10.666667,0.000000,12.000000
2,mp-28013,MnI2,3,164,108.335875,"[[0. 0. 0.] Mn, [-2.07904300e-06 2.40067320e+...",1.17,"[[5.5430849, -5.28e-06, -2.5030000000000003e-0...","[[13.80606079, 0.0006911900000000001, 9.655e-0...",2.23,...,0.000000,0.000000,8.0,0.000000,4.000000,0.000000,0.000000,4.000000,0.000000,0.000000
3,mp-567290,LaN,4,186,88.162562,[[-1.73309900e-06 2.38611186e+00 5.95256328e...,1.12,"[[7.09316738, 7.99e-06, -0.0003864700000000000...","[[16.79535386, 8.199999999999997e-07, -0.00948...",2.65,...,6.000000,12.000000,6.0,18.000000,1.000000,3.000000,0.000000,0.000000,0.000000,6.000000
4,mp-560902,MnF2,6,136,82.826401,"[[1.677294 2.484476 2.484476] Mn, [0. 0. 0.] M...",2.87,"[[2.4239622, 7.452000000000001e-05, 6.06100000...","[[6.44055613, 0.0020446600000000002, 0.0013203...",1.53,...,8.000000,17.333333,0.0,10.666667,10.666667,0.000000,0.000000,19.333333,13.333333,14.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,mp-568032,Cd(InSe2)2,7,111,212.493121,"[[0. 0. 0.] Cd, [2.9560375 0. 3.03973 ...",0.87,"[[7.74896783, 0.0, 0.0], [0.0, 7.74896783, 0.0...","[[11.85159471, 1e-08, 0.0], [1e-08, 11.8515962...",2.77,...,4.571429,2.285714,0.0,5.714286,1.142857,6.857143,4.571429,0.000000,5.714286,2.285714
1052,mp-696944,LaHBr2,8,194,220.041363,"[[2.068917 3.58317965 3.70992025] La, [4.400...",3.60,"[[4.40504391, 6.1e-07, 0.0], [6.1e-07, 4.40501...","[[8.77136355, 1.649999999999999e-06, 0.0], [1....",2.00,...,6.000000,3.000000,0.0,4.000000,0.000000,1.500000,3.000000,21.000000,0.000000,6.000000
1053,mp-16238,Li2AgSb,4,216,73.882306,"[[1.35965225 0.96141925 2.354987 ] Li, [2.719...",0.14,"[[212.60750153, -1.843e-05, 0.0], [-1.843e-05,...","[[232.59707383, -0.0005407400000000001, 0.0025...",14.58,...,0.000000,0.000000,0.0,0.000000,12.000000,0.000000,0.000000,0.000000,48.000000,30.000000
1054,mp-4405,Rb3AuO,5,221,177.269065,"[[0. 2.808758 2.808758] Rb, [2.808758 2....",0.21,"[[6.40511712, 0.0, 0.0], [0.0, 6.40511712, 0.0...","[[22.43799785, 0.0, 0.0], [0.0, 22.4380185, 0....",2.53,...,0.000000,0.000000,0.0,9.600000,0.000000,0.000000,0.000000,8.000000,0.000000,0.000000
1055,mp-3486,KSnSb,6,186,227.725015,[[-1.89006800e-06 2.56736395e+00 1.32914373e...,0.26,"[[13.85634957, 1.8e-06, 0.0], [1.8e-06, 13.856...","[[16.45311887, 1.64e-06, -0.00019139], [1.64e-...",3.53,...,0.000000,0.666667,0.0,4.000000,0.000000,14.000000,6.000000,0.000000,4.000000,0.000000

In [4]:
# Initialise custom featurizer 
df2 = df

featurizer = fc.use_custom_descriptors(df2)

In [5]:
# Generate custom features
df2 = featurizer.custom_features(formula_col_exist=True)
df2.head()

,material_id,formula,nsites,space_group,volume,structure,band_gap,e_electronic,e_total,n,...,alkaline,halogen,chalcogen,lanthanoid,actinoid,quadrupolar,s-block,p-block,d-block,f-block
0,mp-441,Rb2Te,3,225,159.501208,"[[1.75725875 1.2425695 3.04366125] Rb, [5.271...",1.88,"[[3.44115795, -3.097e-05, -6.276e-05], [-2.837...","[[6.23414745, -0.00035252, -9.796e-05], [-0.00...",1.86,...,0,0,1,0,0,0,1,1,0,0
1,mp-22881,CdCl2,3,166,84.298097,"[[0. 0. 0.] Cd, [ 4.27210959 2.64061969 13.13...",3.52,"[[3.34688382, -0.04498543, -0.22379197], [-0.0...","[[7.97018673, -0.29423886, -1.463590159999999]...",1.78,...,0,1,0,0,0,1,0,1,1,0
2,mp-28013,MnI2,3,164,108.335875,"[[0. 0. 0.] Mn, [-2.07904300e-06 2.40067320e+...",1.17,"[[5.5430849, -5.28e-06, -2.5030000000000003e-0...","[[13.80606079, 0.0006911900000000001, 9.655e-0...",2.23,...,0,1,0,0,0,1,0,1,1,0
3,mp-567290,LaN,4,186,88.162562,[[-1.73309900e-06 2.38611186e+00 5.95256328e...,1.12,"[[7.09316738, 7.99e-06, -0.0003864700000000000...","[[16.79535386, 8.199999999999997e-07, -0.00948...",2.65,...,0,0,0,1,0,1,0,1,0,1
4,mp-560902,MnF2,6,136,82.826401,"[[1.677294 2.484476 2.484476] Mn, [0. 0. 0.] M...",2.87,"[[2.4239622, 7.452000000000001e-05, 6.06100000...","[[6.44055613, 0.0020446600000000002, 0.0013203...",1.53,...,0,1,0,0,0,1,0,1,1,0

In [6]:
df.columns[:17].tolist()

['material_id',
 'formula',
 'nsites',
 'space_group',
 'volume',
 'structure',
 'band_gap',
 'e_electronic',
 'e_total',
 'n',
 'poly_electronic',
 'poly_total',
 'pot_ferroelectric',
 'cif',
 'meta',
 'poscar',
 'composition']

In [7]:
print(df2['poly_electronic'][:4])

0    3.44
1    3.16
2    4.97
3    7.04
Name: poly_electronic, dtype: float64

In [8]:
# Drop unwanted columns
cols = ['material_id', 'formula', 'e_electronic', 'e_total', 'structure', 'cif', 'meta', 'poscar', 'composition']

df2 = featurizer.drop(cols)
df2.head()

,nsites,space_group,volume,band_gap,n,poly_electronic,poly_total,pot_ferroelectric,MagpieData minimum Number,MagpieData maximum Number,...,alkaline,halogen,chalcogen,lanthanoid,actinoid,quadrupolar,s-block,p-block,d-block,f-block
0,3,225,159.501208,1.88,1.86,3.44,6.23,False,37.0,52.0,...,0,0,1,0,0,0,1,1,0,0
1,3,166,84.298097,3.52,1.78,3.16,6.73,False,17.0,48.0,...,0,1,0,0,0,1,0,1,1,0
2,3,164,108.335875,1.17,2.23,4.97,10.64,False,25.0,53.0,...,0,1,0,0,0,1,0,1,1,0
3,4,186,88.162562,1.12,2.65,7.04,17.99,False,7.0,57.0,...,0,0,0,1,0,1,0,1,0,1
4,6,136,82.826401,2.87,1.53,2.35,7.12,False,9.0,25.0,...,0,1,0,0,0,1,0,1,1,0

In [9]:
# One hot encoding of categorical features
df2, categorical_feature = featurizer.OHE()

categorical_feature

No. of categorical features: 1

['crystal_system_ohe_cubic',
 'crystal_system_ohe_hexagonal',
 'crystal_system_ohe_monoclinic',
 'crystal_system_ohe_orthorhombic',
 'crystal_system_ohe_tetragonal',
 'crystal_system_ohe_triclinic',
 'crystal_system_ohe_trigonal']

In [10]:
df2

,nsites,space_group,volume,band_gap,n,poly_electronic,poly_total,pot_ferroelectric,MagpieData minimum Number,MagpieData maximum Number,...,p-block,d-block,f-block,crystal_system_ohe_cubic,crystal_system_ohe_hexagonal,crystal_system_ohe_monoclinic,crystal_system_ohe_orthorhombic,crystal_system_ohe_tetragonal,crystal_system_ohe_triclinic,crystal_system_ohe_trigonal
0,3,225,159.501208,1.88,1.86,3.44,6.23,False,37.0,52.0,...,1,0,0,1,0,0,0,0,0,0
1,3,166,84.298097,3.52,1.78,3.16,6.73,False,17.0,48.0,...,1,1,0,0,0,0,0,0,0,1
2,3,164,108.335875,1.17,2.23,4.97,10.64,False,25.0,53.0,...,1,1,0,0,0,0,0,0,0,1
3,4,186,88.162562,1.12,2.65,7.04,17.99,False,7.0,57.0,...,1,0,1,0,1,0,0,0,0,0
4,6,136,82.826401,2.87,1.53,2.35,7.12,False,9.0,25.0,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,7,111,212.493121,0.87,2.77,7.67,11.76,True,34.0,49.0,...,1,1,0,0,0,0,0,1,0,0
1052,8,194,220.041363,3.60,2.00,3.99,7.08,True,1.0,57.0,...,1,0,1,0,1,0,0,0,0,0
1053,4,216,73.882306,0.14,14.58,212.61,232.60,True,3.0,51.0,...,1,1,0,1,0,0,0,0,0,0
1054,5,221,177.269065,0.21,2.53,6.41,22.44,True,8.0,79.0,...,1,1,0,1,0,0,0,0,0,0
1055,6,186,227.725015,0.26,3.53,12.47,15.55,True,19.0,51.0,...,1,0,0,0,1,0,0,0,0,0

In [11]:
# Move target variable to the end
cols = ['nsites', 'space_group', 'volume', 'band_gap', 'n', 'poly_electronic', 'poly_total', 'pot_ferroelectric']

df2 = featurizer.movecol(cols_to_move = cols, ref_col = 'crystal_system_ohe_trigonal', place = 'after')
df2.head()

,MagpieData minimum Number,MagpieData maximum Number,MagpieData range Number,MagpieData mean Number,MagpieData avg_dev Number,MagpieData mode Number,MagpieData minimum MendeleevNumber,MagpieData maximum MendeleevNumber,MagpieData range MendeleevNumber,MagpieData mean MendeleevNumber,...,crystal_system_ohe_triclinic,crystal_system_ohe_trigonal,nsites,space_group,volume,band_gap,n,poly_electronic,poly_total,pot_ferroelectric
0,37.0,52.0,15.0,42.000000,6.666667,37.0,4.0,90.0,86.0,32.666667,...,0,0,3,225,159.501208,1.88,1.86,3.44,6.23,False
1,17.0,48.0,31.0,27.333333,13.777778,17.0,70.0,94.0,24.0,86.000000,...,0,1,3,166,84.298097,3.52,1.78,3.16,6.73,False
2,25.0,53.0,28.0,43.666667,12.444444,53.0,52.0,96.0,44.0,81.333333,...,0,1,3,164,108.335875,1.17,2.23,4.97,10.64,False
3,7.0,57.0,50.0,32.000000,25.000000,7.0,13.0,82.0,69.0,47.500000,...,0,0,4,186,88.162562,1.12,2.65,7.04,17.99,False
4,9.0,25.0,16.0,14.333333,7.111111,9.0,52.0,93.0,41.0,79.333333,...,0,0,6,136,82.826401,2.87,1.53,2.35,7.12,False

In [12]:
df2.columns[:-8]

Index(['MagpieData minimum Number', 'MagpieData maximum Number',
       'MagpieData range Number', 'MagpieData mean Number',
       'MagpieData avg_dev Number', 'MagpieData mode Number',
       'MagpieData minimum MendeleevNumber',
       'MagpieData maximum MendeleevNumber',
       'MagpieData range MendeleevNumber', 'MagpieData mean MendeleevNumber',
       ...
       'p-block', 'd-block', 'f-block', 'crystal_system_ohe_cubic',
       'crystal_system_ohe_hexagonal', 'crystal_system_ohe_monoclinic',
       'crystal_system_ohe_orthorhombic', 'crystal_system_ohe_tetragonal',
       'crystal_system_ohe_triclinic', 'crystal_system_ohe_trigonal'],
      dtype='object', length=2062)

In [13]:
# Save dataset
feature = df2.columns[:-8].tolist()

joblib.dump(feature, 'features.pkl')
joblib.dump(df2, 'database_dielectric_constant_v2.pkl')

['database_dielectric_constant_v2.pkl']